# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment / secrets
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite
*.sqlite3

# Runtime files
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform working directory
infrastructure/.terraform/

# Terraform state
infrastructure/*.tfstate
infrastructure/*.tfstate.*

infrastructure/.terraform.lock.hcl